.points {
  border-radius: 1rem;
  padding: 16px;
  color: #fff;
  background: #000;
  font-size: 21px;
  font-weight: bold;
  text-decoration-line: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 12px;
}
.board {
  width: 70%;
  background-position-y: center;
  display: grid;
  align-content: center;
  justify-content: center;
}
.game_place {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-image: url('../assets/img/board.jpg');
  h3 {
    margin: 0;
  }
  .black_chekser {
    height: 3rem;
    height: 3rem;
    width: 3rem;
    width: 3rem;
    background: #5c5c5c;
    border-radius: 6rem;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }

  img {
    height: 100%;
    width: 100%;
  }
  .row {
    display: flex;
    align-items: center;

    .board_box {
      height: 5rem;
      width: 5rem;
      display: grid;
      align-content: center;
      justify-items: center;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .white_chekser {
        height: 3rem;
        width: 3rem;
        border-radius: 6rem;
        font-weight: bold;
        font-size: 18px;
      }

      img {
        height: 100%;
        width: 100%;
      }

      .black_chekser {
        height: 3rem;
        width: 3rem;
        background: #5c5c5c;
        border-radius: 6rem;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .board_box_numbers {
      border: none;
      color: #fff;
    }
    .board_box_alfabeth {
      border: none;
      color: #fff;
    }
    .board_box_article {
      border: none;
      color: #202020;
    }
  }
}
